name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run CI script
        shell: pwsh
        run: ./ci.ps1
